@media (max-height: 636px) {
    .car_images{
        width: 85px;
        object-fit: cover;
    }

    .car_name{
        padding-top: 1rem;
    }

    .car_height{
        height: 12rem;
    }

    .car_input{
        padding: 0.5rem;
        padding-left: 3rem;
    }

    .rod{
        position: absolute;
        top: 14px;
    }

    .field_inputs{
        padding-top: 1rem;
    }

    .car_card{
        margin-top: 1.5rem;
    }

    .car_call{
        width: 35px;

    }

    .car_whatsapp{
        width: 40px;

    }
    .car_seeprices{
        height: 2.5rem;
        margin-top: 0.8rem;
    }

    .car_overlay{
        margin-top: 1.25rem;
    }

    .car_text_mykonos{
        margin: 1.25rem;
    }

    .call_mykonos{
        height: 5rem;
    }
}


@media (min-height: 636px) and (max-height: 746px) {
    .car_images{
        width: 95px;
        object-fit: cover;
    }

    .car_name{
        padding-top: 1.5rem;
    }

    .car_height{
        height: 12.5rem;
    }

    .car_input{
        padding: 0.5rem;
        padding-left: 3rem;
    }

    .rod{
        position: absolute;
        top: 20px;
    }

    .field_inputs{
        padding-top: 1.5rem;
    }

    .car_card{
        margin-top: 1.5rem;
    }

    .car_call{
        width: 35px;

    }

    .car_whatsapp{
        width: 40px;

    }
    .car_seeprices{
        height: 2.5rem;
        margin-top: 0.2rem;
    }

    .car_overlay{
        margin-top: 1.5rem;
    }

    .car_text_mykonos{
        margin: 1.5rem;
    }

    .call_mykonos{
        height: 4rem;
    }
}

@media (min-height: 747px) and (max-height: 786px) {
    

    .car_name{
        padding-top: 1.5rem;
    }

    .car_height{
        height: 12.5rem;
    }

    .car_input{
        padding: 0.5rem;
        padding-left: 3rem;
    }

    .rod{
        position: absolute;
        top: 20px;
    }

    .field_inputs{
        padding-top: 2.3rem;
    }

    .car_card{
        margin-top: 2.3rem;
    }

    .car_call{
        width: 35px;

    }

    .car_whatsapp{
        width: 40px;

    }
    .car_seeprices{
        height: 2.5rem;
        margin-top: 1.3rem;
    }


    .call_mykonos{
        height: 6rem;
    }
}

@media (min-height: 787px){
 
    .car_seeprices{

        margin-top: 0.5rem;
    }

    .car_text_mykonos{
        margin: 5rem 1.5rem;
    }

    .map{
        height: 400px !important;
        object-fit: contain;
        width: auto;
        background-position: center !important;
        background-position-x: right !important;
        
    }
}
  